:root {
  --font-color-primary: white;
  --font-small: 2vmin;
  --font-Small: 2.5vmin;
  --font-medium: 2.5vmin;
  --font-large: 3vmin;
  --font-Large: 4vmin;

  --red-card-color: red;
  --black-card-color: black;
  --color-win: gold;
  --color-danger: rgb(255, 0, 0);
  --color-success: limegreen;
  --color-info: rgb(24, 24, 196);
}
p {
  padding: 0;
  margin: 0;
}
body {
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  color: var(--font-color-primary);
}

/****************** HEADER *********************/
header {
  font-size: var(--portrait-font-small);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 12vmin;
  background: linear-gradient(to top, rgb(48, 47, 47), #a06023, #743d07);
}
.game-name {
  font-size: 5vmin;
  margin-right: 5vmin;
  text-transform: uppercase;
  align-self: center;
  text-shadow: 0 0 5vh black;
}
.history {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vmin;
}
.history-cards {
  display: flex;
  gap: 2vmin;
  min-height: 8vmin;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  background: url("../Assets/mahagoni.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 2vmin;
  border: 0.5vmin solid green;
  width: 50vmin;
  padding: 0.6vw;
}
.history-cards img {
  width: 6vmin;
  height: 8vmin;
}
/****************** MAIN ( GAME ) *********************/
.table {
  position: relative;
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: url("../Assets/background.jpg");
  background-size: contain;
  background-size: 15% 25%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vmin;
  height: 60vmin;
  border-radius: 20vmin;
  background: url("../Assets/mahagoni.jpg");
  box-shadow: inset 0 0 20vmin rgb(7, 0, 0);
  border: 1vmin double black;
  background-size: 100% 100%;
}
.win-container-portrait {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  color: gold;
  font-weight: 600;
  width: 100%;
  height: max-content;
}
#game {
  border: 0.5vmin solid rgb(255, 255, 255);
  padding: 2vmin;
}
.rules {
  display: none;
  font-weight: 800;
  align-items: center;
  text-align: justify;
  justify-content: center;
  flex-direction: column;

  font-size: 1.7vmin;
  width: 80%;
  height: 95%;
}
#header-rules {
  font-size: 3.5vmin;
  margin-bottom: 2%;
}
.btn-play {
  margin-top: 4%;
  font-size: 3vmin;
  background-color: var(--color-success);
  color: white;
  font-weight: 800;
  border: none;
  padding: 2vmin 4vmin;
  border-radius: 1vmin;
}

.main-game-content {
  display: flex;
  gap: 10vmin;
  align-items: center;
  background-color: green;
  justify-content: center;
  border-radius: 15vmin;
  width: 100%;
  height: 100%;
}
.game-container {
  display: flex;
  border: 1.5vmin solid black;
  justify-content: center;
  align-items: center;
  border-radius: 17vmin;
  height: 80%;
  width: 85%;
}
.buttons-container {
  display: flex;
  width: max-content;
  height: max-content;
  flex-direction: column;
  gap: 2vmin;
}

.buttons-container button {
  color: var(--font-color-primary);
  text-align: center;
  font-size: 3vmin;
  width: 14vmin;
  height: 18vmin;
  border: none;
  border-radius: 1.5vmin;
  border: 1vmin double rgba(131, 112, 8, 0.493);
}
.red-button {
  background-color: var(--red-card-color);
}
.red-button:disabled {
  background-color: gray;
}
.black-button {
  border: 80px solid white;
  background-color: var(--black-card-color);
}
.black-button:disabled {
  background-color: gray;
}

/****************** FOOTER *********************/

footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  height: 15vmin;
  align-items: center;
  font-weight: 700;
  text-shadow: 0 0 0.5vmin black;
  background: linear-gradient(to bottom, rgb(48, 47, 47), #a06023, #743d07);
  width: 100%;
  gap: 5vmin;
}
.btn-increase {
  color: white;
  border-radius: 1vmin;
  background-color: var(--color-success);
}
.collect-container {
  display: none;
  margin-right: 1.5vmin;
}
.collect {
  width: 17.6vmin;
  background-color: var(--color-success);
  border-radius: 2vmin;
}
.btn-decrease {
  color: white;
  border-radius: 1vmin;
  background-color: var(--color-danger);
}
footer button {
  border: none;
  vertical-align: middle;
  text-align: center;
  padding: 1.5vmin;
  font-size: 3vmin;
}
.btn-info {
  margin-left: 3vmin;
  border-radius: 1vmin;
  color: var(--color-info);
}

.credit-container {
  display: flex;
  flex-direction: column;
}
.win-container {
  color: var(--color-win);
  flex: 2;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.bet {
  display: flex;
  flex-direction: column;
}
.bet-amount-container {
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  gap: 1vmin;
}
.bet-container {
 margin-right: 3vmin;
}
.bet label {
  color: rgb(255, 255, 255);
  font-size: 2vmin;
}
.bet-amount {
  font-size: 4vmin;
}
label {
  font-size: 2vmin;
}
.zoom-label {
  font-size: 4vmin;
}
.zoom-animation {
  transform: scale(1.4);
  transition: transform 2s ease;
}
.reset-animation {
  transform: scale(1);
  transition: transform 1s ease;
}
@media screen and (orientation: portrait) {
  header {
    flex: 1;
  }
  .table {
    justify-content: space-between;
    background-size: 25% 25%;
  }
  .rules {
    font-size: 1.9vmin;
    height: 90%;
    width: 90%;
  }
  .bet-container,.collect-container{
    margin-right: 0;
  }
  main {
    margin-top: 2%;
    width: 85vmin;
    height: 60vh;
    margin-bottom: 1%;
  }
  .game-container {
    height: 82%;
    width: 80%;
    gap: 7vmin;
  }
  .buttons-container {
    margin-right: 0;
  }
  footer > div{
    flex: 2;
  }
  footer button {
    width: max-content;
    height: max-content;
    font-size: 3vmin;
  }
  .history-cards img {
    height: 10vmin;
  }
  .buttons-container button {
    font-size: 3vmin;
    width: 16vmin;
    height: 19.5vmin;
  }
  footer {
    flex: 1.5;
    justify-content: space-around;
  }

  footer button {
    padding: 3vmin;
  }
  .bet label {
    font-size: 2.5vmin;
  }
  .bet-amount {
    font-size: 6vmin;
  }
  .btn-info {
    margin-left: 1vmin;
  }
  .win-container-portrait {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  .win-container-portrait label {
    font-size: 4vmin;
  }
  .win-container-portrait span {
    font-size: 8vmin;
  }
  .win-container {
    display: none;
  }
  .portrait-label {
    font-size: 7vmin;
  }
  .win-portrait-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-win);
  }
  .game-name {
    text-align: end;
    font-size: 6vmin;
  }
  label {
    font-size: 2.5vmin;
  }
  .zoom-label {
    font-size: 6vmin;
  }
}
